<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='GiB'>{{ memory_size }}</memory>
  <metadata>
    <nuage           xmlns="http://www.nuagenetworks.net/2013/Vm/Metadata">
      <user          name="{{ nuage_user }}"/>
      <enterprise    name="{{ nuage_enterprise }}"/>
      <nuage_network domain="{{ nuage_domain }}" type="ipv4" name="{{ nuage_subnet }}" zone="{{ nuage_zone }}">
        <interface   mac="{{ mac_address }}"/>
      </nuage_network>
    </nuage>
  </metadata>
  <vcpu placement='static'>{{ cpu_number }}</vcpu>
  <os>
    <type>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>{{ libvirt.emulator }}</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache="none"/>
      <source file='{{ vm_image_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <controller type='usb' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x2'/>
    </controller>
    <controller type='ide' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x1'/>
    </controller>
    <interface     type='bridge'>
      <source      bridge='alubr0'/>
      <model       type='virtio'/>
      <mac         address='{{ mac_address }}'/>
      <virtualport type='openvswitch'/>
    </interface>
    <serial type='pty'>
      <source path='/dev/pts/1'/>
      <target port='0'/>
      <alias name='serial0'/>
    </serial>
    <console type='pty' tty='/dev/pts/1'>
      <source path='/dev/pts/1'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>
    <input type='mouse' bus='ps2'/>
    <graphics type='vnc' port='5900' autoport='yes' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>
    <video>
      <model type='cirrus' vram='9216' heads='1'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
    <memballoon model='virtio'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
    </memballoon>
  </devices>
</domain>

